<!DOCTYPE html>

<html>
    <head>

        <!-- Setup -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/profile_picture_cropped.png" />
        <title>{{ page.title }}</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css" >
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/github-dark.css" >
        <!-- <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/font-awesome/css/font-awesome.custom.css" > -->
        <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/font-awesome/css/font-awesome.custom.css" >

        <!-- Scripts -->
        <script src="{{ site.baseurl }}/javascripts/vendor/jquery-1.11.3.min.js"></script>
        <script src="{{ site.baseurl }}/javascripts/vendor/webfontloader.js"></script>
        <script src="{{ site.baseurl }}/javascripts/vendor/bootstrap.min.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/respond.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/vendor/jquery.mobile.custom.min.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/vendor/bootstrap.transition.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/vendor/bootstrap.carousel.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/vendor/bootstrap.collapse.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/vendor/bootstrap.dropdown.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/vendor/bootstrap.tab.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/vendor/jquery.drawsvg.js"></script>-->
        <!--<script src="{{ site.baseurl }}/javascripts/default.js"></script>-->

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="stylesheets/ie.css">
        <![endif]-->

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    </head>
    <body>
