{% include head.html %}

  <div id="header">
    <nav>
      <ul id="menu">
        <li><a href="{{ site.author.linkedin }}" title="LinkedIn" target="_blank"><span class="fa fa-linkedin"></span></a></li>
        <li><a href="{{ site.author.github }}" title="GitHub" target="_blank"><span class="fa fa-github"></span></a></li>
        <li><a href="{{ site.author.email }}" title="Email" ><span class="fa fa-envelope-o"></span></a></li>
        <li><a href="{{ site.author.facebook }}" title="Facebook" target="_blank"><span class="fa fa-facebook"></span></a></li>
        <li><a href="{{ site.author.twitter }}" title="Twitter" target="_blank"><span class="fa fa-twitter"></span></a></li>
        <li><a href="{{ site.author.resume }}" title="Resume" target="_blank"><span class="fa fa-file-text-o"></span></a></li>
      </ul>
    </nav>
  </div>

  {{ content }}

{% include foot.html %}
