{% include head.html %}

  <div id="header">
    <nav>
      <ul id="menu">
        <li><a href="{{ site.author.linkedin }}" target="_blank"><span class="fa fa-linkedin"></span><br>LinkedIn</a></li>
        <li><a href="{{ site.author.github }}" target="_blank"><span class="fa fa-github"></span><br>GitHub</a></li>
        <li><a href="{{ site.author.email }}"><span class="fa fa-envelope-o"></span><br>Email</a></li>
        <li><a href="{{ site.author.facebook }}" target="_blank"><span class="fa fa-facebook"></span><br>Facebook</a></li>
        <li><a href="{{ site.author.twitter }}" target="_blank"><span class="fa fa-twitter"></span><br>Twitter</a></li>
        <li><a href="{{ site.author.resume }}" target="_blank"><span class="fa fa-file-text-o"></span><br>Resume</a></li>
      </ul>
    </nav>
  </div>

  {{ content }}

{% include foot.html %}
